// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}

main {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  position: relative;
  background: #EDEDED;
  color: #000;

}